/* :root {
  --primari-text-color: (#757575);
  --title-text-color: (#212121);
  --accent-color: (#2196f3);
  --body-color: (#e5e5e5);
}*/

.page {
  background-color: #ffffff;
  color: #757575;
}

ul {
  list-style: none;
}

/* Header */

/* Site-nav */

.site-nav .logo {
  color: #ffffff;
}

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* Contact */

.contact .contact-link {
  color: #757575;
}

.contact .contact-link:hover,
.contact .contact-link:focus {
  color: #2196f3;
}

/* Hero */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;
}

/* Section */
.section-title {
  color: #212121;
}

/* Features */
.features-list .title {
  color: #212121;
}

/* Staff */
.section-staff {
  background-color: #f5f4fa;
}

.staff-name .name {
  color: #212121;
}

/* Footer */

.page-footer {
  background-color: #212121;
}

.page-footer .text-info {
  color: #ffffff;
}

.page-footer .info {
  color: rgba(255, 255, 255, 0.6);
}

/* Button */
.button {
  color: #ffffff;
  background-color: #2196f3;
}

/*  */

/* основной цвет background: #212121; --title-text-color */

/* вторичный  background: #757575; --primari-text-color */

/* белый background: #FFFFFF; */

/* акцент background: #2196F3;--accent-color */

/* контакты в неактивном состоянии и абзац background: #757575; */

/* контакты в футере background: #FFFFFF99;   rgba(0, 0, 0, 0.6) */

/* фон шапки background: #FFFFFF; */
/* фон героя и футер background: #2F303A; */
/* фон команда background: #F5F4FA; */ ;
