/* основной цвет background: #212121; --title-text-color */

/* неактивные контакты, абзац и вторичный  background: #757575; --primari-text-color */

/* основной фон страницы background: #FFFFFF; --primari-white-color */

/* акцент background: #2196F3;--accent-color */

/* фон героя и футер background: #2F303A; --hero-bgrcolor */
/* фон команда background: #F5F4FA; --staff-bdrcolor */

/* контакты в футере background: #FFFFFF99;   rgba(0, 0, 0, 0.6); --contact-footer */

:root {
  --title-text-color: #212121;
  --primari-text-color: #757575;
  --primari-white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-bgrcolor: #2f303a;
  --staff-bdrcolor: #f5f4fa;
  --contact-footer: #ffffff99;
}

.page {
  background-color: var(--primari-white-color);
  color: var(--primari-text-color);
}

ul {
  list-style: none;
}

/* Header */

/* Site-nav */

.site-nav .logo {
  color: var(--primari-white-color);
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Contact */

.contact .contact-link {
  color: var(--primari-text-color);
}

.contact .contact-link:hover,
.contact .contact-link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--hero-bgrcolor);
}

.hero-title {
  color: var(--primari-white-color);
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Features */
.features-list .title {
  color: var(--title-text-color);
}

/* Staff */
.section-staff {
  background-color: #f5f4fa;
}

.staff-name .name {
  color: var(--title-text-color);
}

/* Footer */

.page-footer {
  background-color: var(--title-text-color);
}

.page-footer .text-info {
  color: var(--primari-white-color);
}

.page-footer .info {
  color: var(--contact-footer);
}

/* Button */
.button {
  color: var(--primari-white-color);
  background-color: var(--accent-color);
}

/* PORTFOLIO */
